<ion-header  [translucent]="true" collapse="condense" >
  <ion-toolbar>
    <ion-back-button
      icon="arrow-back"
      slot="start"
      defaultHref="/"
      text=""
    ></ion-back-button>
    <h4 style="text-align: center;" >Verify Youe Email</h4>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <form [formGroup]="forgotPassword"  (ngSubmit)="forgotPasswordMail()" >
  <p>
    <ion-label>Email</ion-label>
    <ion-input placeholder="Enter Your email." class="form-control" formControlName="email" type="email" ></ion-input>
  </p>
  <p>
    <ion-button type="submit" [disabled]="!forgotPassword.valid" >send otp</ion-button>
  </p>
 </form>
</ion-content>
